ruby:
  url = "http://#{ENV.fetch('DOMAIN')}/?token=#{@guest.token}"

= "#{@guest.salutation} #{@guest.name},"
br
== @prelink_content.gsub("\n", "<br />")
br
br
= t('prepare-email.link-info')
br
a href="#{url}"
  = url
br
br
== @postlink_content.gsub("\n", "<br />")
br
br
