/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require cookies_eu
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "variables";

@font-face {
  font-family: 'raleway-light';
  font-style: normal;
  src: $raleway-light;
}

@font-face {
  font-family: 'raleway-semibold';
  font-style: normal;
  src: $raleway-semibold;
}

html, body {
  background-color: $key-color;
  color: $text-color;
  font-family: 'raleway-light', Raleway, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'raleway-semibold', Raleway, sans-serif;
}

p, ol, ul, td {
  font-family: 'raleway-light', Raleway, sans-serif;
  font-size: 1em;
}

th, td {
  word-break: break-all;
}

a, a:visited, a:hover {
  background-color: inherit;
  color: $text-color;
}

.inline {
  display: inline-block;
}

.text-right {
  text-align: right
}

.full-width {
  width: 100%;
}

.content-container {
  background-color: $white;
  padding: 15px 0 40px;
  width: 100%;
}

nav {
  background-color: $key-color;

  .page-title {
    font-size: 1.3em;

    .fa {
      margin-right: 10px;
    }
  }

  a {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

footer {
  padding-bottom: 0;
  width: 100%;
}

nav, footer {
  color: $text-over-color;
  height: 40px;
  line-height: 40px;

  a, a:visited, a:hover {
    color: $text-over-color;
  }
}

.imprint {
  img {
    width: 100%;
  }

  .copyright-e-recht {
    margin-top: 30px;

    a {
      margin-left: 5px;
    }
  }
}
