// new
.new-guest-heading {
  margin: 0;
}

.new-guest-link {
  font-size: 2.1em;
  float: right;
}

// show
.show-guest-title-row {
  margin: 20px 0;
}

.show-guest-heading {
  margin: 0;
}

.show-guest-options {
  font-size: 2.1em;
  text-align: right;

  a:last-of-type {
    margin-left: 15px;
  }
}

td:first-of-type {
  padding-right: 15px;
}

// edit
.edit_guest {
  margin-top: 30px;
}

// index
.options-cell {
  text-align: right;

  a:last-of-type {
    margin-left: 10px;
  }
}
