// new
.new-guest-heading {
  margin: 0;
}

.new-guest-link {
  font-size: 2.1em;
  float: right;
}

// show
.show-guest-title-row {
  margin: 20px 0;
}

.show-guest-heading {
  margin: 0;
}

.show-guest-options {
  font-size: 2.1em;
  text-align: right;

  a:last-of-type {
    margin-left: 15px;
  }
}

td:first-of-type {
  padding-right: 15px;
}

// edit
.guest-edit-form {
  margin-top: 30px;
}

label.enum_radio_buttons {
  margin-bottom: 0;
}

.radio input[type="radio"] {
  margin-top: -7px;
  width: 15px;
}

.presents-container {
  margin-top: 50px;

  h3.aligned-headspace {
    margin-top: 5px;
  }
}

.no-style-button {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

// index
.options-cell {
  text-align: right;

  a:last-of-type {
    margin-left: 10px;
  }
}
